<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap" rel="stylesheet">
<style>
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
</style>
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container-fluid{
    width: 100%;
}
.container{
    margin: 0px auto;
    max-width: 960px;
    background:  #fffff;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
 /* START HEADER  */
 .header-top {
	height: 59px;
    overflow: hidden;
    background: #f5f5f5;
}
.header-top h4 {
	float: left;
	margin-left: 15px;
	margin: 18px;
	font-weight: ;
	font-style: italic;
}
 .header-email-call{
     float: right;
 }
 .header-email-call li {
	list-style: none;
	float: left;
	margin-right: ;
    margin: 13px; 
    margin-right: 20px;
}
.header-email-call li a {
	font-size: 13px;
	color: black;
	font-family: sans-serif;
	margin-right: 8px;
}
.header-email-call li a i{
    font-size: 15px;
}
.header-email-call li a:hover{
    color: #8e44ad;
}
    /* end header top area  */
.header-logo-menu {
        height: 92px;
        background: #ffffff;
}
 .logo{
     float: left;
     margin: 15px;
 }
 .menu{
     float: right;
 }
 .menu ul {}
 .menu ul li  {
     float: left;
     margin: 10px;
     margin-top: 15px;
 }
 .menu ul li a {
	padding: 5px;
	text-transform: capitalize;
    color: #b5b6ba;
    font-family: serif;
}
 .menu ul li a:hover {
     color: #fab702;
 }
 /* END HEADERE LOGO AND MENU  */
 .header-section{
     height: 40vh;
     color: white;
     overflow: hidden;
     background-image: url('img/fixedMain.png');
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     padding: 80px 0px;
  
 }
  .header-content{
      padding: 145px 25px;
  }
 .header-section h1, p, button{
    margin-left: 0px;
 }
 .header-section h1 {
     text-transform:capitalize;
	color: white;
	font-weight: regul 400;
	font-size: 45px;
    margin-bottom: 0px;
	font-family: 'Anton', sans-serif;
}
 .header-section p{
     margin-top: 10px;
     font-size: 15px;
     color: white;
     text-align: left;
 }
 .header-section button{
    padding: 15px 25px;
    font-size: 18px;
    color: white;
    background: #fab702;
    border: none;
 }
.clear{
    clear: both;
}
.header-section-footer {
	height: 90px;
	color: white;
	background: #fab702;
	bottom: 0px;

}
.header-section-footer p {
	font-size: 22px;
	float: left;
	margin-top: 30px;
	margin-left: 24px;
}
.header-section-footer button{
    float: right;
    margin: 20px 20px;
    padding: 10px;
    color: #8e44ad
}
 .our-services{
     
 }
 .our-services h1,p{
     text-align: center;
 }
 .our-services h1{
     font-size: 35px;
     color: black;
 }
 .services{
     float: left;
     width: 32%;
     padding: 6px;
     
 }
 .services img{
     width: 100%;
 }
 .services h2 {
    
	color: #fab702;
	font-size: 20px;
	font-weight: bold;
    text-transform: capitalize;
   
}
.services p{
   text-align: left;
   font-size: 15px;
   color: #34495e;
   margin-bottom: 0px;

}
.services a{
    font-size: 15px;
    font-family: sans-serif;
    text-decoration: none;
    color:#fab702 ;
    text-transform: capitalize;
    margin-right: 15px;
    float: right;
}
.services a:hover{
    color: red;
    text-decoration: underline;
}
/* start deatiles  */
.deatiles {
	margin-top: 60px;
    margin-right: 15px;
    background: #f8f8f8;
}
 .deatiles-img{
     float: left;
     width: 40%;
 }
 .deatiles-img img{
     width: 100%;
 }
 .deatiles-post{
     margin-left: 10px;
    padding: 18px;
    
 }
 .deatiles-post li {
	list-style: none;
	float: left;
	padding: 20px;
}
 .deatiles-post li a {
     text-decoration: none;
     font-size: 35px;
    
 }
 .deatiles-post li a i {}
 .deatiles-post li a:hover{}
 .deatiles-post h3{
     margin: 10px;
 }
.deatiles-post p{
    margin: 0px;
    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
}
 .fa-house-damage{}
 .counter{
     height: 130px;
     overflow: hidden;
     background: #fab702;
 }
 .counter-post{
     float: left;
     height: 50px;
     padding: 10px;
     margin-left: 70px;
     margin-right: 100px;
     color: white;
 }
 .counter-post p{
     margin-bottom: 0px;
     text-transform: uppercase;
     font-size: 15px;
 }
 .counter-post h3 {
	margin-top: 16px;
	font-weight: bold;
	font-size: 44px;
}
 .counter-post p h3{
    text-align: center;
 }
 /* start contact   */

 .contact {
     height: 200px;
     width: 100%;
     display: inline-block;
	background: #bdc3c7;

}
.contact-text {
        height: 70px;
        padding: 15px;
        border-left: 4px solid #fab702;
        margin-top: 45px;
}
.contact-text h4 {
        float: left;
        font-family: sans-serif;
        font-size: 16px;
        margin-left: 17px;
        font-style: normal;
    }
    .contact-text button {
        margin-top: 18px;
        /* margin-right: 45px; */
        float: right;
        padding: 15px 15px;
        color: white;
        background-color: #fab702;
    }
.news{
    text-align: center;
    margin-bottom: 50px;
}
.news h2{
    margin-top: 50px;
    font-size: 35px;
    color: black;
    margin-bottom: 0px;
}
.news p{
    margin: 0px auto;
    margin-top: 10px;
    font-size: 15px;
    color: #34495e;
    width: 550px;
}
/* end news  */
/* start footer  */
.footer-section{
    height: 350px;
    overflow: hidden;
    color: white;
    background: #252c3a;
}

.footer-section-text {
	margin-top: 23px;
	float: left;
	width: 23%;
    padding: 9px;
}

.footer-section-text li{
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 13px;
}

.footer-section-text2 {
    margin-top: 35px;
    border-bottom: 1px solid white;

}
.footer-section-text2 img {
	float: left;
	margin-right: 10px;
}
.footer-section-text2 h4{
    font-size: 14px;
    margin: 0px;
}
.footer-section-text2 p{
    text-align: left;
    margin: 5px;
  padding: 5px;
}
.contact-info{
    padding-top: 15px;
}
.contact-info li {
	padding-top: 26px;
	padding-bottom: 19px;
}
.email{
    
}
.email li{
    padding: 15px 15px;
    float: right;
}
.email input {
    float: left;
    display: inline-block;
	width: 125px;
	padding: 13px 3px;
}
.email li button {
    margin-left: 0px;
	float: right;
    padding: 14px 6px;
    background: #fab702;
    color: white;
    border: none;
}
/* End footer */
.end {
	height: 70px;
    border: 1px solid #000;
    color: white;
    background: #252c3a;
}
.coppy{
    float: left;
    display: inline-block;
}
.coppy{
    padding: 15px;
    font-size: 10px;
}
.social-mdedia{
   
   
}
.social-media ul{
    float: right;
}
.social-media li{
    padding: 15px;
    list-style: none;
    float: left;
    display: inline-block;
}
